<div class="message box container">
    <span id="msg"></span>
</div>

<div class="login box container">
  <div class="login box inner">
    <div class="login box inputs">
  <form> 
    <div class="login field">
      Username: <input type="text" class="login" id="user"></input>
    </div>
    <div class="login field">
      Password: <input type="password" class="login" id="password"></input>
    </div>
  </form>
</div>
  <div class="login btn-box">
  <a class="login btn" id="login-btn" href="javascript:">Login</a>
  <a class="login btn" id="add-btn" href="javascript:">Add User</a>
  </div>
</div>
</div>

<div class="browser-msg">
  <h4>I work best in the latest version of Chrome or Safari.</h4>
</div>
