<div class="login box container">
<div class="login box">
  <form action="POST">
    <div class="login field">
      Username: <input type="text" class="login" id="user"></input>
    </div>
    <div class="login field">
      Password: <input type="text" class="login" id="password"></input>
    </div>
  </form>
  <div class="login btn-box">
    <a class="login btn" id="login-btn" href="#">Login</a>
    <a class="login btn" id="add-btn" href="#">Add User</a>
  </div>
</div>
</div>
