h1#title {
  margin-bottom: 20px;
}

#banner {
  text-align: center;
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  font-size: 36px;
  background: -webkit-linear-gradient(#fb0, #f00);
  background: -o-linear-gradient(#fb0, #f00); 
  background: -moz-linear-gradient(#fb0, #f00); 
  background: -ms-linear-gradient(#fb0, #f00); 
  background: linear-gradient(#fb0, #f00);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  z-index: 400;
  position: relative;
}


.box.container {
  font-family: 'Press Start 2P', cursive;
  position: relative;
  z-index:400;
  color: #fff;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.message.box.container {
  height: 2.0em;
}

#msg {
  font-family: 'Press Start 2P', cursive;
  position: relative;
  z-index:400;
  color: #fff;
  background: -webkit-linear-gradient(#06b, #005);
  background: -o-linear-gradient(#06b, #005);
  background: -moz-linear-gradient(#06b, #005);
  background: -ms-linear-gradient(#06b, #005);
  background: linear-gradient(#06b, #005);
  padding: 7px;
  border: 2px solid #fff;
}

.login.box.container {
  height: 200px;
}

.login.box.inner {
  background: url('/assets/box_bg.png');
  background-repeat: no-repeat;
  display: inline-block;
  width: 400px;
  height: 200px;
  padding-top:35px;
}

.login.box.inputs {
  padding-top: 20px;
}

.login .field{
  display: block;
}

form.login {
  text-align: center;
}

input.login {
  padding: 5px;
  background: #000;
  border: 2px solid #fff;
  font-family: "Press Start 2P", serif;
  width: 150px;
  color: #fff;
}

.btn-box {
  padding-top: 1em;
}

.btn {
  width: 70px;
  height: 36px;
  padding: 5px;
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
}

.logout.btn {
  position: relative;
  top: 50px;
}

body {
  background: black url(/assets/background.png) repeat 5% 5%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 100;
}

#midground {
  background: url(/assets/midground.png) repeat 20% 20%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 200;
}

#foreground {
  background: url(/assets/foreground.png) repeat 90% 110%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 300;
}
